body{
    background-color: var(--Pale-blue);
    font-family: "Red Hat Display";
    margin: 0px;
}
.background{
    width: 100%;
    height: 400px;
}
.container{
   background-color: white;
   position: absolute;
   left: 37%;
   bottom: 15%;
   width: 450px;
   height: 700px;
   border: solid 1px transparent;
   border-radius: 20px;
}
.background-image{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h2 {
    color: var(--Dark-blue);
    font-weight: 900;
    margin-left: 140px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.p1{
    display: flex;
    color: var(--Desaturated-blue);
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    line-height: 1.6;
}
.container-plan{
    background-color: var(--Very-pale-blue);
    height: 100px;
    margin: 20px 50px;
    border-radius: 10px;
}

.icon-music{
    position: absolute;
    margin-top: 25px;
    margin-left: 15px;
}
.annual-plan {
    position: absolute;
    margin-left: 20%;
    margin-top: 25px;
    color: var(--Dark-blue);
    font-weight: 900;
}
.price{
    position: absolute;
    color: var(--Desaturated-blue);
    margin-left: 20%;
    margin-top: 12%;
}
.link-change {
    position: absolute;
    color: var(--Bright-blue);
    font-weight: 700;
    margin-left: 60%;
    margin-top: 40px;
}
.link-change:hover {
    color: rgba(56, 41, 224, 0.70);
    text-decoration: none;
}
.btn-payment {
    position: absolute;
    border: 2px solid transparent;
    background-color: var(--Bright-blue);
    color: white;
    text-decoration: none;
    font-weight: 900;
    border-radius: 10px;
    padding: 15px 100px;
    margin-left: 11%;
    margin-top: 10px;
}
.btn-payment:hover {
    background: rgba(56, 41, 224, 0.70);
}
.btn-cancel-order {
    position: absolute;
    color: var(--Desaturated-blue);
    text-decoration: none;
    font-weight: 900;
    margin-top: 95px;
    margin-left: 40%;
}
.btn-cancel-order:hover {
    color: var(--Dark-blue);
}
.attribution{ 
    position: relative;
    top: 400px;
    text-align: center;
    font-size: 10px;
}